

{% load static %}

<!DOCTYPE html>
<html lang="ko-KR">
<head>
<link rel="stylesheet" href="{% static 'css/reset.css' %}">
<link rel="stylesheet" href="{% static 'css/common.css' %}">
<link rel="stylesheet" href="{% static 'css/login.css' %}">


</head>
<body>



    <section id="container">


            

            <div id="login_section">
                <h1 class="logo"><a href="#" class="icon--main-logo"></a>FACEBOOK</h1>

                <form method="POST" action="{% url 'accounts:login' %}">
                    {% csrf_token %}
                    
                    <div class="id_section">
                        <div><label for="id_username">사용자명:</label></div>
                        <div><input type="text" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}"></div>
                    </div>

                    <div class="pw_section">
                        <div><label for="pw_field">비밀번호:</label></div>
                        <div><input type="password" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}" ></div>
                        
                    </div>

                    <input class="submit_btn" id="submitBtn" type="submit" value="SIGN IN">

                    <div class="signup"><a href="{% url 'accounts:signup' %}">아직도 회원이 아니신가요?</a></div>
                </form>
            </div>


            

        </section>



{% include "accounts/script_ajax_signupcheck.html" %}
</body>
</html>