

{% load static %}

<!DOCTYPE html>
<html lang="ko-KR">
<head>
<link rel="stylesheet" href="{% static 'css/reset.css' %}">
<link rel="stylesheet" href="{% static 'css/common.css' %}">
<link rel="stylesheet" href="{% static 'css/signup.css' %}">


</head>
<body>

    <section id="container">

        <div id="signup_section">
            <h1 class="logo"><a href="#" class="icon--main-logo"></a>회원가입</h1>
            <form action="" method="post" enctype="multipart/form-data">
                
                {% csrf_token %}

                {{ form.as_p }}

                <div class="signup_section">
                    <input id="submitBtn" class="submit_btn" type="submit" value="가입">
                </div>
                
                
            </form>
        </div>


    </section>
</body>
</html>