<script type="text/javascript">
(function(){

    const delegation = document.querySelector('#contents_container');
    // const side_box = document.querySelector('.side_box');
    const header = document.querySelector('#header');
    const textField = document.querySelector('#text_field');
    
    function delegationFunc(e) {
        let elem = e.target;
        
        console.log(elem);
        
        while (!elem.getAttribute('data-name')){
            elem = elem.parentNode;
            
            if (elem.nodeName === 'BODY'){
                elem = null;
                return;
            }
        }
        

        
        if (elem.matches('[data-name="friend_request"]')){
            console.log("친구요청");
            const user_id = elem.getAttribute('name');
            console.log(user_id);
            
            $.ajax({
                type:"POST",
                url: "{% url 'accounts:create_friend_request' %}",
                data: {
                    'pk': user_id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                dataType: "json",
                success: function(response){
                    console.log('성공');
                    
                    elem.innerHTML = "친구요청중";
                    
                },
                error: function(request, status, error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                }
            })
        }
        





        
        if (elem.matches('[data-name="bookmark"]')){
            console.log('북마크!');


            const pk = elem.getAttribute('name');
            console.log(pk);

            $.ajax({
                type: "POST",
                url: "{% url 'post:post_bookmark' %}",
                data: {'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
                dataType: "json",
                success: function (response){
                    let btn_bookmark_text = "";

                    if(response.is_bookmarked === 'N'){
                        btn_bookmark_text = "저장하기";
                    } else if(response.is_bookmarked === 'Y') {
                        btn_bookmark_text = "저장됨";
                    }

                    const bookmark = document.querySelector('.bookmark').innerHTML = btn_bookmark_text;
                },
                error: function (request, status, error) {
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                },
            });
        }
        
















        if (elem.matches('[data-name="heartbeat"]')){
            console.log('하트!');
            

            const pk = elem.getAttribute('name');
            console.log(pk);

            $.ajax({
                type: "POST",
                url: "{% url 'post:post_like' %}",
                data: {'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
                dataType: "json",
                success: function (response){
                    
                    const likeCount = document.querySelector('#like-count-'+pk);
                    likeCount.innerHTML = response.like_count;
                },
                error: function (request, status, error) {
                    // alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                },
            });
            
            
        }
        















        if (elem.matches('[data-name="comment"]')){
            console.log('새댓글')
            const pk = elem.getAttribute('name');
            const content = document.querySelector('#add-comment-post'+pk+'>div>input[type=text]').value;
            console.log(content);
            
            if(content.length > 140) {
                alert("댓글은 최대 140자 입력 가능합니다. 현재 글자수 :"+content.length);
                return;
            }
            
            if(content.length == 0) {
                alert("글자를 하나라도 넣어주세요. 현재 글자수 :"+content.length);
                return;
            }
            
            $.ajax({
                type: "POST",
                url: "{% url 'post:comment_new' %}",
                data: {
                    'pk': pk,
                    'content': content,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                dataType: "html",
                success: function(data, textStatus, jqXHR){
                    console.log("성공!")
                    document.querySelector("#comment-list-ajax-post"+pk).insertAdjacentHTML("afterbegin", data);
                    location.reload();
                },
                error: function(request, status, error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                },
            });




        }
        
        if(elem.matches('[data-name="comment_delete"]')){
            const pk = elem.getAttribute('name');

            $.ajax({
                type: "POST",
                url: "{% url 'post:comment_delete' %}",
                data: {
                    'pk': pk,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                dataType: "json",
                success: function(response){
                    if(response.status){
                        document.querySelector('#comment'+pk).remove();
                        location.reload();
                    }
                },
                error: function(request, status, error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                } 
            });
        }

        if(elem.matches('[data-name="add"')){
            console.log('글추가');
            textField.style.height = '100px';
            submit.disabled = false;
            submit.parentNode.style.display = 'block';

        }


        
        elem.classList.toggle('active');
    }
    
    
    // function resizefunc(){
    //     // console.log('리사이즈')
    //     if(pageYOffset >= 10){
    //         let calcWidth = (window.innerWidth * 0.5) + 167;
    //         if(side_box){
    //             side_box.style.left = calcWidth + "px";
    //         }
    //     }
    // }
    
    function scrollfunc(){
        const scrollHeight = pageYOffset + window.innerHeight;
        const documentHeight = document.body.scrollHeight;
        
        // if (pageYOffset >= 10){
        //     header.classList.add('on');
        //     resizefunc();
        //     if(side_box){
        //         side_box.classList.add('on');
        //     }
        // } else {
        //     header.classList.remove('on');
        //     if(side_box){
        //         side_box.classList.remove('on');
        //         side_box.removeAttribute('style');
        //     }
        // }
        
        if(scrollHeight >= documentHeight){
            const page = document.querySelector('#page').value;
            
            console.log(page);
            
            const end_page = {{ posts.paginator.num_pages }}
            if(page > end_page){
                return;
            }
            document.querySelector('#page').value = parseInt(page) + 1;
            callMorePostAjax(page);
        }
    }
    
    function callMorePostAjax(page) {
        const end_page = {{ posts.paginator.num_pages }};
        
        if(page > end_page){
            return;
        }
        $.ajax({
            type: 'POST',
            url: "{% url 'post:post_list' %}",
            data: {
                'page': page,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            dataType: 'html',
            success: addMorePostAjax,
            error: function(request, status, error){
                alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
        });
    }
 
    function addMorePostAjax(data, textStatus, jqXHR) {
    let post = document.querySelector('#post_list_ajax');
        
        post.insertAdjacentHTML("beforeend", data);
        
        
    }


    // window.addEventListener('resize', resizefunc);
    window.addEventListener('scroll', scrollfunc);
    delegation.addEventListener('click', delegationFunc);
})();
</script>