



#container{
    height: 100vh;
    background: var(--fds-fb-blue-70);
    display: flex;
    justify-content: center;
    align-items: center ;
}



#signup_section{
    text-align: left;
    max-width:500px;
    /*background: #fff;*/
    /*box-shadow: 2px 2px 10px rgba(22, 29, 52, 0.54);*/
}

#signup_section .logo{
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

#signup_section .logo > a{
    margin-right: 10px;
}

/* 장고 적용하면서 추가한 부분  */
p{
    margin-bottom: 20px;
}

span{
    display: block;
}
/* 장고 적용하면서 추가한 부분 */

#signup_section input[type="text"]{
    width: 250px;
    height: 30px;
    border: none;
    border-radius: 3px;
}

#signup_section input[type="email"]{
    width: 250px;
    height: 30px;
    border: none;
    border-radius: 3px;
}

#signup_section input[type="password"]{
    width: 250px;
    height: 30px;
    border: none;
    border-radius: 3px;
}


#signup_section label{
    display: inline-block;
    color: #fff;
    font-size: 15px;
    width: 100px;
    text-align: left;
}


#profile_photo{
    width: 250px;
    margin-bottom: 50px;
    color: #fff;
}

#submitBtn{
    
    border: none;
    font-size: 15px;
    color: #fff;
    background: #183c7a;
    padding: 10px;
    margin-bottom: 100px;
    cursor: pointer;
    border-radius: 3px;
}

.submit_section{
    text-align: center;
}

#submitBtn:hover{
    background: #2050a2;
}


.signup{
    color: #fff;
    /*text-align: right;*/
    text-decoration: underline;
}

.signup:hover{
    color: #ddd;
}


















