{% extends 'layout.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/save.css' %}">
{% endblock %}

{% block content %}
<div id="wrapper">
    <div class="inner">
        <div class="left_box">
            <div class="my_name">
                <a href="#">
                    <div><span class="icon icon--save"></span><span class="icon--more"></span></div>
                    <span class="name">저장됨 & 친구목록</span>
                    <span class="icon--more"></span>
                </a>
            </div>
            <ul class="list">
                <li class="active"><a href="#" data-name="save"><span class="icon icon--save"></span>저장됨 <span class="icon--more"></span></a></li>
                <li><a href="#" data-name="friends"><span class="icon icon--messenger"></span>친구목록 <span class="icon--more"></span></a></li>
            </ul>
        </div>

        <section id="contents_container">

            <div id="save" class="">
                {% for post in post_list %}
                    {% for bookmark_user in post.bookmark_user_set.all %}
                        {% if user == bookmark_user.profile.user %}
                            <article class="contents">
                                    
                                <div class="thumbnail"><img src="{{ post.photo.url }}" alt=""></div>
                                <div>
                                    <h1 class="heading">{{ post.author.username }}님의 글입니다 </h1>
                                    <p class="description">
                                        {{ post.content }}
                                    </p>
                                </div>
                                
                            </article>

                        {% endif %}
                    {% endfor %}
                {% endfor %}

            </div>

            <div id="friends" class="hidden">
<!--                    <div class="search_box"></div>-->
                {% for friend_request in friend_requests %}
                <article class="contents">
                    <div class="thumbnail"><img src="{{ friend_request.from_user.profile.picture.url }}" alt=""></div>
                    <div class="right_contents">
                        <h1 class="heading">{{ friend_request.from_user.username }}님</h1>
                        <div class="btn_container">
                            <button class="agree" data-name="friend_accept" name="{{ friend_request.id }}">수락</button>
                            <button class="delete">삭제</button>
                        </div>
                    </div>
                </article>
                {% endfor %}

                {% for friend in friends %}


                <article class="contents">
                    <div class="thumbnail"><img src="{{ friend.user.profile.picture.url }}" alt=""></div>
                    <div class="right_contents">
                        <h1 class="heading">{{ friend.user }}님</h1>
                        <div class="btn_container">
                            
                            
                        </div>
                    </div>
                </article>


                {% endfor %}

            </div>
        </section>

    </div>
</div>

<div id="side_box">
    <ul>
        {% for friend in friends %}
        <li>
            <div class="profile_img"><img src="{{ friend.user.profile.picture.url }}" alt=""></div>
            <div class="name">{{ friend.user }}</div>
            <div class="light"></div>
        </li>
        {% endfor %}
    </ul>
</div>
<script>
    const friends = document.querySelector('#contents_container');

    function delegation(e){
        let elem = e.target;

        console.log(elem);

        while (!elem.getAttribute('data-name')){
            elem = elem.parentNode;
            
            if (elem.nodeName === 'BODY'){
                elem = null;
                return;
            }
        }

        if (elem.matches('[data-name="friend_accept"]')){
            console.log("친구수락");
            
            const request_id = elem.getAttribute('name');
            console.log(request_id);

            $.ajax({
                type: "POST",
                url: "{% url 'accounts:accept_friend_request' %}",
                data: {
                    'pk': request_id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                dataType: "json",
                success: function(response){
                    console.log("성공");
                    location.reload();
                },
                error: function(request, status, error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                }
            })
        }
    }


    friends.addEventListener('click', delegation);

    

</script>
{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="{% static 'js/save.js' %}"></script>
{% endblock %}