aioredis==1.2.0
asgiref==3.2.3
async-timeout==3.0.1
attrs==18.2.0
autobahn==18.10.1
Automat==0.7.0
cffi==1.13.2
channels==2.4.0
channels-redis==2.4.1
constantly==15.1.0
cryptography==2.8
daphne==2.4.1
Django==3.0.1
hiredis==0.2.0
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
msgpack==0.6.2
psycopg2-binary==2.7.5
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.19
PyHamcrest==1.9.0
pyOpenSSL==19.1.0
pytz==2018.7
service-identity==18.1.0
six==1.11.0
sqlparse==0.3.0
Twisted==18.9.0
txaio==18.8.1
zope.interface==4.6.0
