{% load static %}
<!DOCTYPE html>
<html lang="ko-KR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Facebook</title>
    <link rel="shortcut icon" href="{% static 'imgs/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    

    {% block head %}
    {% endblock %}


</head>
<body>
    <section id="container">
        <header id="header">
            <div class="inner">
    
                <div class="left">
                    <h1 class="icon icon--facebook-white"><a href="{% url 'post:post_list' %}"></a></h1>
    
                    <div class="search_container" >
                        <form action="{% url "post:post_list" %}" method="post">
                            {% csrf_token %}
                            <input type="text" name="tag" id="search_box" placeholder="검색" required>
                            <button type="submit"><span class="icon--search-black"></span></button>
                        </form>
                    </div>
                </div>
    
                <div class="right">
    
                    {% if user_profile %}
                        <div><a href="{% url 'accounts:logout' %}" class="logout">로그아웃</a></div>    
                        <div class="my_name"><span class="profile_img"><img src="{{ user_profile.picture.url }}" alt=""></span><a href="#">{{ user_profile.nickname }}</a></div>
                        <div class="my_name"><span class="profile_img"><img src="{{ user_profile.picture.url }}" alt=""></span><a
                            href="#">{{ user_profile.nickname }}</a></div>
                    <div class="home">홈</div>
                    <div class="people"><a href="{% url 'bookmark_friends:bookmark_friends_list' %}"><span class="icon icon--people-black"></span></a></div>
                    <div class="bell">
                        <span class="icon icon--bell-black"></span>
                        <div class="notice">
                            <div class="icon--arrow-top"></div>
                            <h3>알림</h3>
                            <ul>
                                <li>
                                    <a href="#">
                                        <div class="profile_img"><img src="imgs/profile/bear.png" alt=""></div>
                                        <div>
                                            <div><span class="name">kindbear</span> <span>님도 자신의 상태에 댓글을 달았습니다.</span></div>
                                            <div class="time">1시간</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="profile_img"><img src="imgs/profile/bear.png" alt=""></div>
                                        <div>
                                            <div><span class="name">kindbear</span> <span>님도 자신의 상태에 댓글을 달았습니다.</span></div>
                                            <div class="time">1시간</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="profile_img"><img src="imgs/profile/bear.png" alt=""></div>
                                        <div>
                                            <div><span class="name">kindbear</span> <span>님도 자신의 상태에 댓글을 달았습니다.</span></div>
                                            <div class="time">1시간</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="profile_img"><img src="imgs/profile/bear.png" alt=""></div>
                                        <div>
                                            <div><span class="name">kindbear</span> <span>님도 자신의 상태에 댓글을 달았습니다.</span></div>
                                            <div class="time">1시간</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="profile_img"><img src="imgs/profile/bear.png" alt=""></div>
                                        <div>
                                            <div><span class="name">kindbear</span> <span>님도 자신의 상태에 댓글을 달았습니다.</span></div>
                                            <div class="time">1시간</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="profile_img"><img src="imgs/profile/bear.png" alt=""></div>
                                        <div>
                                            <div><span class="name">kindbear</span> <span>님도 자신의 상태에 댓글을 달았습니다.</span></div>
                                            <div class="time">1시간</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="profile_img"><img src="imgs/profile/bear.png" alt=""></div>
                                        <div>
                                            <div><span class="name">kindbear</span> <span>님도 자신의 상태에 댓글을 달았습니다.</span></div>
                                            <div class="time">1시간</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="profile_img"><img src="imgs/profile/bear.png" alt=""></div>
                                        <div>
                                            <div><span class="name">kindbear</span> <span>님도 자신의 상태에 댓글을 달았습니다.</span></div>
                                            <div class="time">1시간</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="profile_img"><img src="imgs/profile/bear.png" alt=""></div>
                                        <div>
                                            <div><span class="name">kindbear</span> <span>님도 자신의 상태에 댓글을 달았습니다.</span></div>
                                            <div class="time">1시간</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="profile_img"><img src="imgs/profile/bear.png" alt=""></div>
                                        <div>
                                            <div><span class="name">kindbear</span> <span>님도 자신의 상태에 댓글을 달았습니다.</span></div>
                                            <div class="time">1시간</div>
                                        </div>
                                    </a>
                                </li>
    
                            </ul>
                        </div>
                    </div>
                    <div><a href="{% url 'chat:chat_list' %}"><span class="icon icon--messenger--black"></span></a></div>
                    <div><a href="#"><span class="icon icon--chart--black"></span></a></div>
                    <div class="question"><a href="http://www.kind-family.com"><span class="icon icon--question-black"></span></a></div>
                    {% else %}
                        <div><a href="{% url 'accounts:login' %}" class="logout">로그인</a></div>    
                        <div class="my_name"><span class="profile_img"><img src="{% static 'imgs/noun_User.png' %}" alt=""></span><a
                            href="#">{{ user_profile.nickname }}</a></div>
                    <div class="home">홈</div>
                    <div class="people"><a href="#"><span class="icon icon--people-black"></span></a></div>
                    <div class="bell">
                        <span class="icon icon--bell-black"></span>
                        <div class="notice">
                            <div class="icon--arrow-top"></div>
                            <h3>알림</h3>
                            <ul>
                                <li>
                                    <a href="#">
                                        <div class="profile_img"><img src="imgs/profile/bear.png" alt=""></div>
                                        <div>
                                            <div><span class="name">kindbear</span> <span>님도 자신의 상태에 댓글을 달았습니다.</span></div>
                                            <div class="time">1시간</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="profile_img"><img src="imgs/profile/bear.png" alt=""></div>
                                        <div>
                                            <div><span class="name">kindbear</span> <span>님도 자신의 상태에 댓글을 달았습니다.</span></div>
                                            <div class="time">1시간</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="profile_img"><img src="imgs/profile/bear.png" alt=""></div>
                                        <div>
                                            <div><span class="name">kindbear</span> <span>님도 자신의 상태에 댓글을 달았습니다.</span></div>
                                            <div class="time">1시간</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="profile_img"><img src="imgs/profile/bear.png" alt=""></div>
                                        <div>
                                            <div><span class="name">kindbear</span> <span>님도 자신의 상태에 댓글을 달았습니다.</span></div>
                                            <div class="time">1시간</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="profile_img"><img src="imgs/profile/bear.png" alt=""></div>
                                        <div>
                                            <div><span class="name">kindbear</span> <span>님도 자신의 상태에 댓글을 달았습니다.</span></div>
                                            <div class="time">1시간</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="profile_img"><img src="imgs/profile/bear.png" alt=""></div>
                                        <div>
                                            <div><span class="name">kindbear</span> <span>님도 자신의 상태에 댓글을 달았습니다.</span></div>
                                            <div class="time">1시간</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="profile_img"><img src="imgs/profile/bear.png" alt=""></div>
                                        <div>
                                            <div><span class="name">kindbear</span> <span>님도 자신의 상태에 댓글을 달았습니다.</span></div>
                                            <div class="time">1시간</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="profile_img"><img src="imgs/profile/bear.png" alt=""></div>
                                        <div>
                                            <div><span class="name">kindbear</span> <span>님도 자신의 상태에 댓글을 달았습니다.</span></div>
                                            <div class="time">1시간</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="profile_img"><img src="imgs/profile/bear.png" alt=""></div>
                                        <div>
                                            <div><span class="name">kindbear</span> <span>님도 자신의 상태에 댓글을 달았습니다.</span></div>
                                            <div class="time">1시간</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="profile_img"><img src="imgs/profile/bear.png" alt=""></div>
                                        <div>
                                            <div><span class="name">kindbear</span> <span>님도 자신의 상태에 댓글을 달았습니다.</span></div>
                                            <div class="time">1시간</div>
                                        </div>
                                    </a>
                                </li>
    
                            </ul>
                        </div>
                    </div>
                    <div><a href="#"><span class="icon icon--messenger--black"></span></a></div>
                    <div><a href="#"><span class="icon icon--chart--black"></span></a></div>
                    <div class="question"><a href="http://www.kind-family.com"><span class="icon icon--question-black"></span></a></div>
                    {% endif %}
    
         
                </div>
    
            </div>
        </header>

        {% block content %}
        {% endblock %}

        {% block js %}
        {% endblock %}
    </section>
</body>
</html>
